name: CI/CD

on:
    push:
        branches: ["main", "staging"]

jobs:
    build-and-deploy:
        uses: rhaversen/.github/.github/workflows/ci-cd.yml@main
        with:
            project_name: "GaslightBackend"
            dockerhub_image_name: "gaslight-backend"
            node_version: "22"
            push_sourcemaps: true
            sentry_project: "gaslight-backend"
        secrets:
            DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
            DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
            SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
            DEVOPS_REPO_TOKEN: ${{ secrets.DEVOPS_REPO_TOKEN }}
