name: Development Testing CI

on:
    pull_request:
        branches: ["development"]

jobs:
    test:
        uses: rhaversen/.github/.github/workflows/development-backend.yml@main
        with:
            node_version: "22"
            run_unit_tests: false
            run_integration_tests: false
            run_development_tests: true
